*, ::after, ::before {
    box-sizing: border-box;
}

.publication {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 3px;
    background-color: #f9f9f9; /* Ajusta el color de fondo si es necesario */
}

.publication .author {
    color: #555;
    font-weight: bold; /* Ajusta el estilo del texto si es necesario */
}

.pub-button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #e0e0e0; /* Ajusta el color de fondo si es necesario */
    border-radius: 3px;
    text-decoration: none;
    color: #007bff; /* Ajusta el color del texto si es necesario */
    transition: background-color 0.3s, color 0.3s;
}

.pub-button-pressed {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #646464; /* Ajusta el color de fondo si es necesario */
    border-radius: 3px;
    text-decoration: none;
    color: #007bff; /* Ajusta el color del texto si es necesario */
    transition: background-color 0.3s, color 0.3s;
}

.pub-button:hover {
    background-color: #007bff; /* Color de fondo en hover */
    color: white; /* Color del texto en hover */
}

.paper-box {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
}

.paper-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.venue-corner {
    /*position: absolute;
    top: -5px;*/
    position: relative;
    left: -10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

textarea.form-control {
    height: auto;
}

.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a:hover {
    text-decoration-line: underline !important;
    text-decoration-style: dotted !important;
    color: #0a55a5;
}