  <!doctype html>
<!-- single.html -->
<!-- Rendering with single.html -->

  <html lang="en">
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    {{ $css := resources.Get "projects/css/custom.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
  <body>
    <a class="skip-link" href="#main">Skip to main</a>
    <main id="main">
    <div class="content">
      {{ partial "header.html" . }}
      <section>
        <h1>{{ .Title }}</h1>
        {{ .Content }}

        {{/* $titlePr := .Title}}
        {{ if .Params.publications }}
        <h2>Publications</h2>
        <ul>
          {{ range .Params.publications }}
          <li><a href="/publications/{{ . }}">{{ $titlePr }}</a></li>
          {{ end }} 
        </ul>
        {{ end */}}
        {{ $relatedPublications := .Params.publications }}
        {{ if $relatedPublications}}
        <h2>Related Publications</h2>
        {{ range $relatedPublications }}
          Publication : {{ . }} <br>
        {{ end }}
        <ul>
          {{ range site.RegularPages }}
          {{ .Section }} - {{ .File.BaseFileName }} <br>
            {{/* if and (eq .Section "publications") (in $relatedPublications .File.BaseFileName) }}
              <li>
                <a href="{{ .Permalink }}">{{ .Params.ACM_Ref }}</a>
              </li>
            {{ end */}}
          {{ end }}
        </ul>
      {{ end }}

        {{ if ne .Section "pages" }}
        <div class="post-date">
          <span class="g time">{{.Date.Format "January 2, 2006"}} </span> &#8729;
          {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
          {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
          $taxonomy $tag) -}}
          <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
          {{- end -}} {{- end -}}
          {{ end }}
        </div>
        {{ end }}
        
      </section>
      {{ if eq .Section "posts" }}
      {{ if eq .Site.Params.comments.enabled true }}
      <div id="comments">
        {{ partial "comments.html" $ }}
      </div>
      {{ end }}
      {{ end }} 
    </div>
  </main>
  </body>
  </html>
